@import '~help-media-queries/src/helpers.scss';

:global {
  .Logo {
    position: relative;
    transition: transform 200ms;
    transform: scale(0.8);

    @media screen and (break(medium)) {
      transform: none;
    }

    &--Big {
      transform: scale(2);
    }

    &--Small {
      transform: scale(0.5);
    }
  }
}
