@import '~help-media-queries/src/helpers.scss';
@import '../../style/tools/gfont';


.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Header-Headline {
  @include font("Montserrat", 400);
  color: #FFF;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 32px;
  transition: font-size 200ms;
  font-size: 1em;

  @media screen and (break(small)) {
    font-size: 1.5em;
  }
}
