@import '../../style/settings/ambient';
@import '../../style/settings/theme';
@import '../../style/tools/functions';

.PageContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 70vw;
  padding: 4em;

  &--Full {
    width: 100%;
    margin: auto;
  }
}
