@import '~help-media-queries/src/helpers.scss';
@import '../../style/settings/ambient';
@import '../../style/settings/theme';
@import '../../style/tools/functions';

:global {
  .PageContainer {
    width: 100%;
    padding: 2em;

    @media screen and (break(small)) {
      margin: 0 auto;
      max-width: 70vw;
      padding: 4em;
    }

    &--Full {
      width: 100%;
      margin: auto;
      max-width: 100%;
    }
  }
}
