@import '../../style/settings/ambient';
@import '../../style/settings/theme';
@import '../../style/tools/functions';

:global {

.App {
  overflow: hidden;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(-45deg, #C1BDFF 0%, #20E276 100%);
}

.BackgroundBar {
  position: absolute;
  background-image: url('/assets/images/background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  mix-blend-mode: overlay;
  opacity: 0.15;
  height: 576px;
  width: 762px;

  &:nth-child(1){
    top: 0;
    left: 50%;
    transform: translate(-40vw, -30vh);

    @media screen and (break(medium)) {
      opacity: 0;
    }
  }

  &:nth-child(2){
    top: 0;
    left: 50%;
    transform: translate(-30vw, -15vh);
  }

  &:nth-child(3){
    bottom: 0;
    left: 70%;
    transform: translate(-40vw, 2vh);
  }

  &:nth-child(4){
    bottom: 0;
    left: 70%;
    transform: translate(-35vw, 20vh);
  }
}

}
