@import '~help-media-queries/src/helpers.scss';
@import '../../style/settings/ambient';
@import '../../style/settings/theme';
@import '../../style/tools/functions';

:global {

.App {
  position: relative;

  height: 100vh;
}

.App-Background {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  mix-blend-mode: overlay;
}

.Background-Bar {
  position: absolute;
  background-image: url('/assets/images/background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.15;
  height: 576px;
  width: 762px;

  &:nth-child(1){
    top: 0;
    left: 50%;
    transform: translate(-40vw, -30vh);

    @media screen and (break(extraLarge)) {
      transform: translate(-50%, -10%);
    }
  }

  &:nth-child(2){
    top: 0;
    left: 50%;
    transform: translate(-30vw, -15vh);

    @media screen and (break(extraLarge)) {
      transform: translate(-70%, 0);
    }
  }

  &:nth-child(3){
    bottom: 0;
    left: 70%;
    transform: translate(-40vw, 2vh);

    @media screen and (break(extraLarge)) {
      transform: translateX(-90%);
    }
  }

  &:nth-child(4){
    bottom: 0;
    left: 70%;
    transform: translate(-35vw, 20vh);

    @media screen and (break(extraLarge)) {
      transform: translate(-70%, 10%);
    }
  }
}

}
