// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Color palette
// Last update: 23/03/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥

$accent: #20E276;
$accent-alt: #C1BDFF;

$blue: (
  darkest  : #1A4257,
  darker   : #256E89,
  dark     : #2E91B1,
  default  : #3DB8DE,
  light    : #7AC7E6,
  lighter  : #A2D6ED,
  lightest : #D4EBF7
);
